<div id="<%= dom_id todo %>">
  <p>
    <strong>Category:</strong>
    <%= todo.category_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= todo.title %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= todo.notes %>
  </p>

  <p>
    <strong>Is done:</strong>
    <%= todo.is_done %>
  </p>

  <p>
    <strong>Priority level:</strong>
    <%= todo.priority_level %>
  </p>

  <p>
    <strong>Due on:</strong>
    <%= todo.due_on %>
  </p>

  <p>
    <strong>Due time:</strong>
    <%= todo.due_time %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= todo.position %>
  </p>

</div>
