<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Checkcheck" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="font-prompt">
    <div class="navbar shadow-md px-6 py-3 z-60">
      <div class="flex-1">
        <h1 class="text-xl font-bold text-[#545454] tracking-wide">My Academy Quest</h1>
      </div>
      <div class="tabs flex justify-center max-md:justify-end gap-4">
        <%= link_to todos_path,
          role: "tab",
          aria_label: "Tab 1",
          class: "#{tab_header(root_path, todos_path)} px-4 py-2 rounded-lg transition font-semibold 
                 #{current_page?(todos_path)||current_page?(root_path) ? 'bg-[#f57b39] text-white shadow-md' : 'text-[#545454] hover:text-[#f57b39] hover:bg-[#f2f2f2]'}",
          "data-testid": "todos-link" do %>
          ✅ TODOs
        <% end %>
        <%= link_to my_brags_path,
          role: "tab",
          aria_label: "Tab 2",
          class: "#{tab_header(my_brags_path)} px-4 py-2 rounded-lg transition font-semibold 
                 #{current_page?(my_brags_path) ? 'bg-[#f57b39] text-white shadow-md' : 'text-[#545454] hover:text-[#f57b39] hover:bg-[#f2f2f2]'}",
          "data-testid": "my-brags-link" do %>
          🌟 My Brags
        <% end %>
      </div>
    </div>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
